<div class="container p-3 " xmlns:paginate="http://www.w3.org/1999/xhtml">
  <div class="row text-center">
    <div class="col-12">
      <h4 class="display-6">Admin panel</h4>
      <hr class="w-50 m-auto"/>
    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="masters-tab" data-bs-toggle="tab" data-bs-target="#masters" type="button"
              role="tab" aria-controls="masters" aria-selected="true">Masters
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings" type="button"
              role="tab" aria-controls="bookings" aria-selected="false">Bookings
      </button>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="masters" role="tabpanel" aria-labelledby="masters-tab">
      <table class="table table-striped">
        <thead class="text-center">
        <tr>
          <th>Masters Table</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th> <form class="col-md-12 col-sm-12 m-auto text-end" [formGroup]="searchForm" >
            <input type="text" placeholder="Search for a master..." class="form-control-sm" formControlName="query" #searchBox (input)="search(searchBox.value)">
          </form></th>
        </tr>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Phone number</th>
          <th scope="col">EMBG</th>
          <th scope="col">Gender</th>
          <th scope="col">Type</th>
          <th scope="col">E-mail</th>
          <th scope="col">Cities</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr *ngFor="let master of masters | paginate: {id: 'paginate_masters', itemsPerPage: 5, currentPage: masters_page, totalItems: masters.length}"
            [class.bg-warning]="master.status == 'APPROVED'">
          <th scope="row">{{master.id}}</th>
          <td>{{master.name}}</td>
          <td>{{master.surname}}</td>
          <td>{{master.phone_number}}</td>
          <td>{{master.embg}}</td>
          <td>{{master.gender}}</td>
          <td>{{master.type}}</td>
          <td>{{master.email}}</td>
          <td>{{master.city.name}}</td>
          <td>{{master.status}}</td>
          <td *ngIf="master.status == 'PENDING' ">
            <button type="button" class="btn btn-sm btn-success w-100 " (click)="approveMaster(master.id)">Approve
            </button>
          </td>
          <td *ngIf="master.status == 'APPROVED' ">
            <button type="button" class="btn btn-sm btn-danger w-100 " (click)="disapproveMaster(master.id)">Undo
            </button>
          </td>
          <td><a routerLink="/profile/{{master.id}}" class="btn btn-outline-secondary">View profile</a> </td>
        </tr>
        </tbody>
      </table>

      <div class="text-center p-3">
        <pagination-controls id="paginate_masters" [maxSize]="5" [directionLinks]="true"
                             (pageChange)="masters_page = $event"></pagination-controls>
      </div>

    </div>


    <div class="tab-pane fade" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
      <table class="table table-striped mt-4">
        <thead class="text-center">
        <tr>
          <th>Bookings Table</th>
        </tr>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Master</th>
          <th scope="col">Client</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr
          *ngFor="let booking of bookings | paginate: {id: 'paginate_bookings', itemsPerPage: 5, currentPage: bookings_page, totalItems: bookings.length}">
          <td>{{booking.id}}</td>
          <td>{{booking.date | date}}</td>
          <td>{{booking.master.name}} {{booking.master.surname}}</td>
          <td>{{booking.client.name}} {{booking.client.surname}}</td>

        </tbody>
      </table>

      <div class="text-center p-3">
        <pagination-controls id="paginate_bookings" [maxSize]="5" [directionLinks]="true"
                             (pageChange)="bookings_page = $event"></pagination-controls>
      </div>


    </div>
  </div>


</div>
