<div class="container-fluid  text-center p-5 bg-light">
  <form class="w-50 m-auto" [formGroup]="filterForm" (ngSubmit)="onFilter()">
    <h5 class="">Master profession</h5>

    <select class="form-select text-center shadow" aria-label="Default select example" formControlName="master_type">
      <option *ngFor="let type of master_types" value="{{type}}">{{type}}</option>
    </select>
    <br/>
    <h5 class="">City</h5>

    <select class="form-select text-center shadow" aria-label="Default select example" formControlName="city_id">
      <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
    </select>

    <div class="btn-group">
      <button type="submit" class="btn btn-outline-dark mt-4">Filter masters</button>
      <button type="button" class="btn btn-warning mt-4" (click)="getMasters()">List all</button>
    </div>
  </form>

</div>


<div class="container-fluid shadow" >
  <div class="row justify-content-center" >
    <div *ngIf="masters.length == 0" class="row text-center p-5"><h4 class="display-6">There are no masters of this filter!</h4> </div>
    <div class="col-md-3 col-sm-12 m-3" *ngFor="let master of masters | paginate: {id: 'listing_pagination', itemsPerPage: 3, currentPage: page, totalItems: totalRecords}">
      <app-master-card  [master]="master"></app-master-card>
    </div>
  </div>

  <div class="text-center p-3">
    <pagination-controls id="listing_pagination" [maxSize]="5" [directionLinks]="true"
                         (pageChange)="page = $event"></pagination-controls>
  </div>
</div>


