<div class="container p-5">
  <div class="row">
    <div class="col-6 m-auto shadow p-5 rounded-1 bg-secondary bg-opacity-25">
      <h5 class="display-6 text-center">Sign in</h5>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input formControlName="username" type="text" class="form-control" id="username" aria-describedby="usernameHelp">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input formControlName="password" type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

</div>
